/* John Bogle Tribute Page CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@media screen and (min-device-width: 420px) {
  p {
    padding-right: 0px;
    padding-left: 0px;
  }
}

body {
    color: white;
    background-color: #D4CFC3;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: medium;
}

header, figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  padding-right: 1%;
  padding-left: 5%;
}

h1 {
  font-size: 3em;
  margin-bottom: 1%;
  text-align: center;
}

h3 {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

figcaption {
  margin-top: 1%;
}

a:link {
    color: #c49559;
    text-decoration: none;
}

a:visited {
  color: #ecd2b1;
}

a:hover {
  color: #003C69;
  background-color: white;
}

a:focus {
  color: #5C8033;
  background-color: white;
}

a:active {
  color: #5C8033;
}

footer {
  display: flex;
  justify-content: center;
  color: black;
}

a[href="http://gilbertginsberg.org"] {
 color: #003C69;
}


.italic {
  font-style: italic;
}

.flex-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  background: #540B10;
  background: -moz-linear-gradient(180deg, #540B10, #781017); /* For Firefox 3.6 to 15 */
  background: linear-gradient(180deg, #540B10, #781017); /* Standard syntax */
}
